.sectionHeader {
    &__container {
        display: flex;
        justify-content: space-between;
        height: 120px;
        background-color: #858585;
    }
    &__left {
        width: 20%;
        &--img {
            height: 80%;
            display: block;
            margin: auto;
            margin-top: 3%;
        }
    }
    &__right {
        text-align: left;
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 8%;
        display: flex;
        justify-content: space-between;
    }
    &--link {
        text-decoration: none;
        color: white;
        font-family: "Coolvetica";
        text-transform: uppercase;
        font-size: 2.3vh;
        &:hover {
            color: black;
            border-bottom: 3px solid black;
        }
    }
    &--square {
        margin-top: 0.5%;
        height: 14px;
        width: 14px;
        background-color: white;
    }
}

.sectionRefus {
    background: rgb(127,165,227);
    background: linear-gradient(195deg, rgba(127,165,227,1) 50%, rgba(98,131,184,1) 50%);
    height: 90vh;
    display: flex;
    justify-content: center;;
    &--container {
        height: 4vh;
        background-color: white;
        border-radius: 20px;
        padding: 3% 5% 3% 5%;
        margin-top: 2vh;
        display: flex;
        justify-content: space-around;
        margin-top: 10%;
        font-family: "Coolvetica";
        font-size: 5vh;
        font-weight: bold;
        text-transform: uppercase;
    }
}
