.sectionAccueil {
    height: 85vh;
    background-image: url("/build/images/background_homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    &__container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 35%;
        font-family: "Coolvetica";
        margin-top: 1%;     
    }
    &__text {
        text-transform: uppercase;
        font-size: 6vh;
    }
    &__lien {
        text-decoration: none;
        box-shadow:inset 0px 1px 3px 0px #91b8b3;
        background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
        background-color:#768d87;
        border-radius:5px;
        border:1px solid #566963;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:15px;
        padding:11px 23px;
        text-decoration:none;
        text-shadow:0px -1px 0px #2b665e;
        font-family: "Coolvetica";
        font-size: 3vh;
        text-transform: uppercase;
        margin-top: 2%;
        &:hover {
            background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	        background-color:#6c7c7c;
        }
    }
}