.sectionTab {
    background: rgb(127,165,227);
    background: linear-gradient(195deg, rgba(127,165,227,1) 50%, rgba(98,131,184,1) 50%);
    display: flex;
    justify-content: center;
    &--link {
        text-align: center;
        font-size: 4vh;
        text-transform: uppercase;
        color: #667297;
        font-family: "Coolvetica";
        display: block;
        margin: auto;
        margin-top: 2%;
        &:hover {
            color: #3c4970;
        }
    }
    &__container {
        background-color: white;
        border-radius: 20px;
        padding: 3% 5% 3% 5%;
        margin-top: 2vh;
        width:40%;
    }
    &--offre {
        &__container {
            display: flex;
            justify-content: space-between;
           padding: 3%;
           margin-top: 5%;
            font-family: "Coolvetica";
            -webkit-box-shadow: -4px 11px 20px 0 #B8BCC3;
            -moz-box-shadow: -4px 11px 20px 0 #B8BCC3;
            box-shadow: -4px 11px 20px 0 #B8BCC3;
            border-radius: 10px;
        }
        &__title {
            width: 15%;
            font-weight: bold;
            font-size: 2vh;
        
        }
        &__modif {
            text-decoration: none;
            color: grey;
        }
        &__delete {
            text-decoration: none;
            color: grey;
        }
    }
}