.sectionArticle {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__container {
        text-decoration: none;
        margin: auto;
        margin-top: 3%;
        width: 65%;
        -webkit-box-shadow: 1px 1px 35px 1px rgba(0,0,0,0.37); 
        box-shadow: 1px 1px 35px 1px rgba(0,0,0,0.37);
        padding: 2%;
        border-radius: 30px;
        transition: transform .2s;
        &:hover {
            transform: scale(1.1);
        }
        &--first {
            display: flex;
            justify-content: space-between;
            height: 30vh;
            &--left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 15%;
                &--contrat {
                    background: #FFFFFF;
                    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
                    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
                    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
                    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
                    background-image: -webkit-gradient(to bottom, #FFFFFF, #FFFFFF);
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    color: #99C624;
                    font-family: Verdana;
                    font-size: 12px;
                    padding: 10%;
                    -webkit-box-shadow: -4px 11px 20px 0 #B8BCC3;
                    -moz-box-shadow: -4px 11px 20px 0 #B8BCC3;
                    box-shadow: -4px 11px 20px 0 #B8BCC3;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                    text-align: center;
                }
                &--img {
                    width: 60%;
                    display: block;
                    margin-left: 3%;
                }
            }
            &--right {
                width: 82%;
                background-image: url('/build/images/building_img.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 20px;
            }
        }
        &--second {
            font-family: "Coolvetica";
            margin-top: 2%;
            display: flex;
            justify-content: space-between;
            &--right {
                width: 28%;
                &--title {
                    font-weight: bold;
                    font-size: 3.6vh;
                    text-transform: uppercase;
                    margin-bottom: 3%;
                    color: black;
                }
                &--dateCreation {
                    color: #8A98BA;
                    font-size: 2.6vh;
                    margin-bottom: 3%;
                }
                &--adresse {
                    color: #c7d2eb;
                    font-size: 2vh;
                }
            }
            &--left {
                width: 70%;
                &--description {
                    line-height: 2.5vh;
                    font-size: 2vh;
                    color: black;
                }
            }
        }
    }
}