.sectionForm {
    background: rgb(127,165,227);
    background: linear-gradient(195deg, rgba(127,165,227,1) 50%, rgba(98,131,184,1) 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    &--container {
        background-color: white;
        border-radius: 20px;
        padding: 3% 5% 3% 5%;
        margin-top: 2vh;
        display: flex;
        justify-content: space-around;
        &--second {
            height: 50vh;
        }
        &--third {
            height: 30vh;
        }
    }
    &__form--container div {
        display: flex;
        flex-direction: column;
        & label {
            color: #667297;
            font-family: "Coolvetica";
            font-size: 2vh;
        }
        & input {
            border: none;
            border-bottom: 2px solid #D9D9D9;
            height: 5vh;
            width: 25vh;
            margin: 2% 0 2% 0;
            &::placeholder {
                color: #D9D9D9;
                font-size: 2vh;
            }
            &:active {
                border-color: none;
            }
        }
        & select {
            -webkit-appearance: none;
            border: none;
            border-bottom: 2px solid #D9D9D9;
            height: 4vh;
            width: 25vh;
            margin: 4% 0 4% 0;
            font-family: "Coolvetica";
            font-size: 2vh;
            
            background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
          background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
          background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
          background-repeat: no-repeat;
        }
        & textarea {
            border: none;
            border-bottom: 2px solid #D9D9D9;
            height: 5vh;
            width: 25vh;
            margin: 2% 0 2% 0;
        }
        & button {
            background: #7FA5E3;
            border: none;
            border-radius: 30px;
            width: 30vh;
            margin-top: 3%;
            padding: 2%;
            color: white;
            &:hover {
                background: #1A458B;
            }
        }
    }
    &--connect {
        font-size: 5vh;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Coolvetica";
        margin-bottom: 10%;
    }
}

#form_fin_mission {
    display: none;
}
#label {
    display: none;
}

.flash-notice {
    position: relative;
    z-index: 1000;
    background: rgb(133,44,44);
    background: linear-gradient(195deg, rgba(133,44,44,1) 0%, rgba(204,31,31,1) 100%);
    padding: 3%;
    font-family: "Coolvetica";
    font-size: 2vh;
}