{% extends 'base.html.twig' %}

{% block body %}
    <section class="sectionArticle">
            {% for offre in offre %}
            <a href="/article/{{offre.id}}"
                <div class="sectionArticle__container">
                    <div class="sectionArticle__container--first">
                        <div class="sectionArticle__container--first--left">
                            <p class="sectionArticle__container--first--left--contrat">{{offre.contrat}}, {{offre.typecontrat}}</p>
                            <img class="sectionArticle__container--first--left--img" src="/build/images/perso_icon.png" alt="une icone de personne">
                        </div>
                        <div class="sectionArticle__container--first--right">
                        </div>
                    </div>
                    <div class="sectionArticle__container--second">
                        <div class="sectionArticle__container--second--right">
                            <p class="sectionArticle__container--second--right--title">{{offre.title}}</p>
                            <p class="sectionArticle__container--second--right--dateCreation">Créé le : {{offre.dateCreation |date("d/m/Y")}}</p>
                            <p class="sectionArticle__container--second--right--adresse">{{offre.adresse}}, {{offre.codePostal}}</p>
                        </div>
                        <div class="sectionArticle__container--second--left">
                            <p class="sectionArticle__container--second--left--description">{{offre.description}}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
    </section>
{% endblock %}
