{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    {% if app.user %}
        <section class="sectionRefus">
            <div class="sectionRefus--container">
                <p class="sectionRefus--text">Vous êtes déjà connecté !</p>
            </div>
        </section>
    {% else %}
    <section class="sectionForm">
        <div class="sectionForm--container--second sectionForm--container">
            {{ form_start(form) }}
                <div class="sectionForm__form--container">
                    {{ form_row(form.Username) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="sectionForm__form--container">
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form.email) }}
                </div>
                    {{ form_row(form.email) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.password) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.Submit) }}
                </div>
            {{ form_end(form) }}
        </div>
    </section>

    {% endif %}
{% endblock %}
