{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    {% if app.user %}
        <section class="sectionTab">
            <div class="sectionTab__container">
                <a class="sectionTab--link" href="/create">Ajouter mon offre</a>
                {% for offre in offre %}
                <div class="sectionTab--offre__container">
                    <p class="sectionTab--offre__title">{{offre.title}}</p>
                    <p class="sectionTab--offre__date">Créé le : {{offre.dateCreation |date("d/m/Y")}}</p>
                    <a href="modifier/{{offre.id}}" class="sectionTab--offre__modif">Modifier</a>
                    <a href="delete/{{offre.id}}" class="sectionTab--offre__delete">Supprimer</a>
                </div>
                {% endfor %}
            </div>
        </section>
    {% else %}
    <section class="sectionRefus">
        <div class="sectionRefus--container">
            <p class="sectionRefus--text">Veuillez vous connecter.</p>
        </div>
    </section>
    {% endif %}

{% endblock %}